@import "../../../../assets/sass/_functions.scss";

.wrapper {
  max-width: vw-1920(1354);
  margin: 0 auto;
  padding-top: vw-1920(667);
  padding-bottom: vw-1920(96);
  position: relative;
  z-index: 2;
}

.head {
  position: relative;
  overflow: hidden;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.bg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(11, 11, 11, 0.6);
}

.bg img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.title {
  color: var(--text);
}

.tagsWrapper::-webkit-scrollbar {
  display: none;
}

.tags {
  margin-bottom: vw-1920(20);
  display: flex;
  align-items: center;
  gap: vw-1920(24);
}

.tag {
  border-radius: vw-1920(32);
  padding: vw-1920(12) vw-1920(26) vw-1920(10) vw-1920(26);
  border: 1px solid var(--green-2);
  transition: all 0.2s ease;
  cursor: pointer;
  color: var(--bg);
  white-space: nowrap;
}

.tag.active {
  background: var(--green-2);
  color: var(--text);
}

.container {
  display: flex;
  gap: vw-1920(96);
  flex-direction: column;
  max-width: vw-1920(1354);
  margin: 0 auto;
  margin-top: vw-1920(64);
}

.top {
  display: flex;
  gap: vw-1920(48);
  align-items: center;
  color: var(--bg);
}

.side {
  flex: 0 0 vw-1920(526);
  padding: vw-1920(32);
  background-color: var(--brown);
  height: fit-content;
  color: var(--text);
}

.line {
  margin-top: vw-1920(20);
  display: flex;
  flex-direction: column;
  gap: vw-1920(12);
}

.content {
  display: flex;
  flex-direction: column;
  gap: vw-1920(64);
}

.step {
  display: flex;
  gap: vw-1920(48);
}

.step:nth-child(2) {
  flex-direction: row-reverse;
}

.step:last-of-type {
  flex-direction: column;
  gap: vw-1920(36);
}

.step > img {
  width: vw-1920(664);
  object-fit: cover;
  height: vw-1920(469);
}

.content p {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: vw-1920(20);
  line-height: 130%;
  color: var(--bg);
}

.content h4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: vw-1920(26);
  line-height: 140%;
  text-transform: uppercase;
  color: var(--bg);
  margin-top: vw-1920(32);
  margin-bottom: vw-1920(20);
}

.imageContainer {
  width: vw-1920(1216);

  display: flex;
  gap: vw-1920(26);
}

.content .compare {
  width: 100%;

  height: vw-1920(700);
  margin-top: 0;
}

.content .back {
  margin-top: vw-1920(-16);
}

.swiperBlock {
  position: relative;
}

.navigation {
  position: absolute;
  width: calc(100% + vw-1920(146));
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.next {
  transform: rotate(180deg);
}

.navigation .next,
.navigation .prev {
  width: vw-1920(47);
  height: vw-1920(47);
}

.navigation .next svg,
.navigation .prev svg {
  width: vw-1920(24);
  height: vw-1920(24);
}

.swiperBlock > .pagination.paginationImportant {
  position: absolute;
  left: 50%;
  bottom: vw-1920(36);
  transform: translateX(-50%);
  top: initial;
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
}

.bullet {
  background-color: transparent;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.bulletActive {
  border: 1px solid rgba(251, 247, 244, 0.5);
  width: 16px;
  height: 16px;
}

.bullet::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(251, 247, 244, 0.5);
  transition: all 0.2s ease;
}

.bullet.bulletActive::after {
  width: 8px;
  height: 8px;
  background-color: var(--text);
}

.swiper {
  height: vw-1920(700);
}

.slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 1440px) {
  .wrapper {
    max-width: vw-1440(1200);
    margin: 0 auto;
    padding-top: vw-1440(510);
    padding-bottom: vw-1440(96);
  }

  .tags {
    gap: vw-1440(12);
  }

  .tag {
    border-radius: vw-1440(32);
    padding: vw-1440(12) vw-1440(26) vw-1440(10) vw-1440(26);
  }

  .container {
    gap: vw-1440(64);
    max-width: vw-1440(1200);
    margin-top: vw-1440(48);
  }

  .side {
    flex: 0 0 vw-1440(384);
    padding: vw-1440(32);
  }

  .line {
    margin-top: vw-1440(20);
    gap: vw-1440(12);
  }

  .content {
    gap: vw-1440(64);
  }

  .content p {
    font-size: vw-1440(20);
  }

  .content h4 {
    font-size: vw-1440(26);
    margin-top: 0;
    margin-bottom: vw-1440(20);
  }

  .step > img {
    width: vw-1440(664);
    height: vw-1440(469);
  }

  .content .back {
    margin-top: 0;
  }

  .navigation {
    position: absolute;
    width: calc(100% + vw-1440(146));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    z-index: 5;
  }

  .next {
    transform: rotate(180deg);
  }

  .navigation .next,
  .navigation .prev {
    width: vw-1440(47);
    height: vw-1440(47);
  }

  .navigation .next svg,
  .navigation .prev svg {
    width: vw-1440(24);
    height: vw-1440(24);
  }
}

@media (max-width: 768px) {
  .head {
    width: 100%;
  }

  .title {
    font-weight: 400;
    font-size: 36px;
  }

  .wrapper {
    max-width: calc(100% - 40px);
    margin: 0 auto;
  }

  .tagsWrapper {
    width: 100%;
    overflow-x: auto;
    max-width: calc(100dvw - 40px);
  }

  .tags {
    gap: 12px;
    width: fit-content;
    margin-bottom: 16px;
  }

  .tag {
    border-radius: 32px;
    padding: 8px 26px 6px 26px;
    width: fit-content;
    white-space: nowrap;
  }

  .wrapper {
    padding-top: 87px;
    padding-bottom: 36px;
  }

  .container {
    gap: 32px;
    flex-direction: column;
    max-width: calc(100% - 40px);
    margin-top: 32px;
  }

  .side {
    flex: initial;
    position: static;
    padding: 24px;
    width: 100%;
  }

  .line {
    margin-top: 20px;
    gap: 12px;
  }

  .content {
    flex: initial;
  }

  .content p {
    font-size: 17px;
  }

  .content h4 {
    font-size: 18px;

    margin-bottom: 20px;
  }

  .top {
    flex-direction: column-reverse;
    gap: 32px;
  }

  .step {
    flex-direction: column !important;
    gap: 24px;
  }

  .step > img {
    width: 100%;
    height: auto;
  }

  .navigation {
    width: 102px;
    top: calc(100% + 12px);
    transform: none;
    left: initial;
    right: 0;
  }

  .navigation .next,
  .navigation .prev {
    width: 47px;
    height: 47px;
  }

  .navigation .next svg,
  .navigation .prev svg {
    width: 24px;
    height: 24px;
  }

  .content .back {
    margin-top: 32px;
  }

  .swiperBlock .pagination.paginationImportant {
    top: calc(100% + 15px);
    bottom: initial;
    left: 0px;
    right: initial;
    transform: none;
  }

  .bulletActive {
    border: 1px solid rgba(11, 61, 62, 0.5);
  }

  .bullet::after {
    background-color: rgba(11, 61, 62, 0.5);
  }

  .bullet.bulletActive::after {
    background-color: var(--green-1);
  }
}
