.container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.container .prev {
  border-color: transparent;
  background-color: transparent;
}

.container .next {
  transform: rotate(180deg);
  border-color: transparent;
  background-color: transparent;
}

.page {
  color: var(--bg);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.page:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.active {
  color: var(--beige);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.list {
  display: flex;
  gap: 16px;
  align-items: baseline;
  color: var(--bg);
}

@media (max-width: 768px) {
  .container {
    gap: 16px;
  }
}
