@import "../../assets/sass/_functions.scss";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: vw-1920(120);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: opacity 0.1s;
}

.wrapper.active {
  opacity: 1;
  z-index: 150;
  pointer-events: auto;
}

.item {
  position: relative;
  padding: vw-1920(24);
  background: var(--green-2);
  max-width: vw-1920(450);
  width: fit-content;
}

.title {
  color: var(--text);
  display: flex;
  gap: vw-1920(24);
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.text {
  margin-top: vw-1920(12);
  color: var(--text);
  text-align: center;
}

.item.error {
  background: var(--red);
}

.title svg {
  width: vw-1920(64);
  height: vw-1920(64);
}

.close {
  position: absolute;
  right: vw-1920(12);
  top: vw-1920(12);
  cursor: pointer;
}

.close svg {
  width: vw-1920(36);
  height: vw-1920(36);
}

@media (max-width: 1440px) {
  .wrapper {
    padding-top: vw-1440(120);
  }

  .item {
    padding: vw-1440(24);
    max-width: vw-1440(450);
  }

  .title {
    gap: vw-1440(24);
  }

  .text {
    margin-top: vw-1440(12);
  }

  .title svg {
    width: vw-1440(64);
    height: vw-14(64);
  }

  .close svg {
    width: vw-1440(36);
    height: vw-1440(36);
  }

  .close {
    position: absolute;
    right: vw-1440(12);
    top: vw-1440(12);
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-top: 72px;
  }

  .item {
    padding: 24px;
    max-width: 335px;
  }

  .title {
    gap: 20px;
  }

  .text {
    margin-top: 12px;
  }

  .title svg {
    width: 64px;
    height: 64px;
  }

  .close svg {
    width: 36px;
    height: 36px;
  }

  .close {
    position: absolute;
    right: 12px;
    top: 12px;
  }
}
