.container {
  margin-top: 120px;
}

.title {
  margin-bottom: 32px;
  color: var(--text);
}

.content {
  display: flex;
  gap: 24px;
}

.form {
  width: 100%;
  border-radius: 12px;
  padding: 36px;
  background: var(--gray-3);
}

.image {
  flex: 0 0 679px;
  position: relative;
}

.field {
  width: 100%;

  color: var(--text);
  margin-top: 24px;
}

.field:first-of-type {
  margin-top: 0;
}

.field .input {
  max-width: initial;
}

.field .input:has(input[type="checkbox"]) {
  max-width: fit-content;
}

.input a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--red);
}

.name {
  margin-bottom: 8px;
  color: var(--text);
}

.name span {
  color: var(--red);
}

.form .button {
  margin-top: 32px;
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quest {
  position: absolute;
  left: 24px;
  bottom: 24px;
  padding: 24px;
  width: 447px;
  border-radius: 8px;
  background: var(--bg);
}

.questTitle {
  color: var(--red);
  margin-bottom: 12px;
}

.text {
  color: rgba(16, 16, 16, 0.8);
  margin-bottom: 24px;
}

.links {
  display: flex;
  gap: 6px;
  align-items: center;
}

.links a {
  text-decoration: none;
  display: block;
}

.wrapper {
  flex: 1 1 526px;
}

@media (max-width: 768px) {
  .container {
    margin-top: 72px;
  }

  .title {
    text-align: center;
    margin-bottom: 24px;
  }

  .content {
    flex-direction: column-reverse;
  }

  .wrapper {
    flex: 0 0 380px;
  }

  .form {
    padding: 32px 24px;
  }

  .form .button {
    width: 100%;
  }

  .image {
    width: 100%;
    flex: 0 0 420px;
  }

  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .quest {
    bottom: 32px;
    width: 295px;
  }

  .links a {
    width: 32px;
    height: 32px;
  }
}
