@import "../../assets/sass/_functions.scss";

.container {
  margin: 0 auto;
  margin-top: vw-1920(150);
  margin-bottom: vw-1920(160);
  max-width: vw-1920(1630);
  background-color: var(--bg);
}

.title {
  margin-bottom: vw-1920(20);
  color: var(--text);
}

.text {
  color: var(--text);
  margin-bottom: vw-1920(24);
}

.content {
  display: flex;
}

.form {
  width: 100%;
}

.image {
  flex: 0 0 vw-1920(815);
  position: relative;
}

.field {
  width: 100%;

  color: var(--text);
  margin-top: vw-1920(24);
}

.field:first-of-type {
  margin-top: 0;
}

.field .input {
  max-width: initial;
}

.field .input:has(input[type="checkbox"]) {
  max-width: fit-content;
}

.input a {
  color: var(--text);
  text-decoration: none;
}

.name span {
  color: var(--red);
}

.form .button {
  margin-top: vw-1920(24);
  width: vw-1920(314);
  height: vw-1920(69);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  flex: 1 1 vw-1920(815);
  padding: vw-1920(42);
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1440px) {
  .container {
    margin: 0 auto;
    margin-top: vw-1440(120);
    margin-bottom: vw-1440(120);
    max-width: vw-1440(1200);
    background-color: var(--bg);
  }

  .title {
    margin-bottom: vw-1440(16);
  }

  .text {
    margin-bottom: vw-1440(24);
  }

  .image {
    flex: 0 0 vw-1440(600);
  }

  .field {
    margin-top: vw-1440(24);
  }

  .form .button {
    margin-top: vw-1440(24);
    width: vw-1440(314);
    height: vw-1440(69);
  }

  .wrapper {
    flex: 1 1 vw-1440(600);

    padding: vw-1440(42);
  }
}
@media (max-width: 768px) {
  .container {
    margin-top: 72px;
    margin-bottom: 72px;
    max-width: calc(100% - 40px);
  }

  .content {
    flex-direction: column-reverse;
  }

  .title {
    margin-bottom: 12px;
  }

  .text {
    margin-bottom: 20px;
  }

  .field {
    margin-top: 24px;
  }

  .form .button {
    margin-top: 20px;
    width: 100%;
    height: 64px;
  }

  .wrapper {
    flex: 1 1 vw-1440(600);

    padding: 32px 24px;
  }

  .wrapper {
    flex: 0 0 380px;
  }

  .image {
    width: 100%;
    flex: 0 0 300px;
    position: relative;
  }

  .image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(18, 19, 24, 0) 0%, #121318 100%);
  }

  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
