@import "../../../assets/sass/_functions.scss";

.container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: vw-1920(8);
  cursor: pointer;
}

.input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
}

.checkbox {
  flex: 0 0 vw-1920(36);
  border: 1px solid rgba(18, 19, 24, 0.2);
  width: vw-1920(36);
  height: vw-1920(36);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: transparent;
}

.icon {
  display: none;
  width: vw-1920(18);
  height: vw-1920(14);
}

.input:checked + .checkbox {
  background: var(--beige);
  color: var(--green-1);
  border-color: var(--beige);
}

.input:checked + .checkbox > .icon {
  display: block;
}

.input:disabled + .checkbox {
  background: transparent;
  border-color: var(--grey);
}

input:focus + .checkbox {
  border-color: var(--beige);
}

@media (max-width: 1440px) {
  .container {
    gap: vw-1440(8);
  }

  .checkbox {
    flex: 0 0 vw-1440(36);
    width: vw-1440(36);
    height: vw-1440(36);
  }

  .icon {
    width: vw-1440(18);
    height: vw-1440(14);
  }
}

@media (max-width: 768px) {
  .container {
    gap: 9px;
  }

  .checkbox {
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
  }

  .icon {
    width: 18px;
    height: 14px;
  }
}
