@import "../../../assets/sass/_functions.scss";

.wrapper {
  max-width: vw-1920(1630);
  margin: 0 auto;
  margin-top: vw-1920(143);
  display: flex;
  justify-content: space-between;
}

.title {
  color: var(--bg);
}

.text {
  color: var(--bg);
  max-width: vw-1920(802);
}

@media (max-width: 1440px) {
  .wrapper {
    max-width: vw-1440(1200);
    margin: 0 auto;
    margin-top: vw-1440(115);
  }

  .text {
    color: var(--bg);
    max-width: vw-1440(690);
  }

  .title {
    font-size: vw-1440(64);
  }
}
@media (max-width: 768px) {
  .wrapper {
    max-width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 87px;
    flex-direction: column;
    width: 100%;
  }

  .text {
    color: var(--bg);
    max-width: 100%;
  }

  .title {
    font-size: 36px;
  }
}
