@import "../../assets/sass/functions";

.accordion {
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid rgba(18, 19, 24, 0.2);
  padding: vw-1920(32) vw-1920(20);
  transition: all 0.4s ease;
  cursor: pointer;
}

.active.accordion {
  background: var(--green-1);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
  text-align: left;
  transition: all 0.4s ease;
  background-color: transparent;
  color: var(--bg);
}

.active .header {
  color: var(--text);
}

.header span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  overflow: hidden;
}

.inner {
  padding: vw-1920(12) 0;
  color: var(--text);

  ul,
  ol {
    margin-left: vw-1920(26);
    display: flex;
    flex-direction: column;
    gap: vw-1920(2);
    margin-top: vw-1920(12);
    margin-bottom: vw-1920(12);

    @media (max-width: 1440px) {
      gap: vw-1440(2);
      margin-left: vw-1440(26);
      margin-top: vw-1440(12);
      margin-bottom: vw-1440(12);
    }

    @media (max-width: 768px) {
      gap: 2px;
      margin-left: 26px;
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 1440px) {
  .accordion {
    padding: vw-1440(32) vw-1440(20);
  }

  .inner {
    padding: vw-1440(12) 0;
  }
}

@media (max-width: 768px) {
  .accordion {
    padding: 32px 20px;
  }

  .inner {
    padding: 12px 0 0 0;
  }
}
