@import "../../assets/sass/_functions.scss";

.container {
  position: absolute;
  left: calc((100% - vw-1920(1630)) / 2 + vw-1920(1630) / 2);
  top: 50%;
  transform: translate(-50%, -50%);

  font-family: var(--second-family);
  font-weight: 400;
  font-size: vw-1920(30);
  line-height: 120%;
  text-transform: uppercase;
  color: var(--text);
  text-decoration: none;
  mix-blend-mode: difference;
}

@media (max-width: 1440px) {
  .container {
    font-size: vw-1440(30);
    left: calc((100% - vw-1440(1200)) / 2 + vw-1440(1200) / 2);
  }
}

@media (max-width: 768px) {
  .container {
    font-size: 30px;
    left: 20px;
    transform: translateY(-50%);
    mix-blend-mode: initial;
    color: var(--bg);
  }
}
