@import "../../../assets/sass/_functions.scss";

.button {
  width: vw-1920(260);
  height: vw-1920(260);
  position: relative;

  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: vw-1920(60);
  flex-direction: column;
  gap: vw-1920(7);
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  border: solid vw-1920(1) var(--text);
  color: var(--text);
}

.button.empty {
  align-items: center;
  padding-left: 0;
}

.button svg {
  color: var(--beige);
}

.button.centered {
  align-items: center;
  padding-left: 0;
}

.button.centered span {
  position: absolute;
  left: 50%;
  margin-left: vw-1920(28);
  top: 50%;
  transform: translate(0%, -50%);
  max-width: vw-1920(282);
}

.button.secondary {
  padding-left: vw-1920(48);
  padding-bottom: vw-1920(40);
  justify-content: flex-end;
}

.button.dark {
  border-color: var(--bg);
  color: var(--bg);
}

.button.dark svg {
  color: var(--bg);
}

.button span {
  max-width: vw-1920(133);
  margin-left: vw-1920(7);
  text-align: left;
}

.button:hover {
  background: rgba(200, 152, 106, 0.1);
}

.button:active {
  background: var(--text);
  border-color: var(--text);
  color: var(--bg);
}

.button.dark:active {
  background-color: var(--bg);
  border-color: var(--bg);
  color: var(--text);
}

.button.dark:active svg {
  color: var(--text);
}

.button:disabled {
  cursor: default;
  pointer-events: none;
  color: var(--grey);
  border-color: var(--grey);
}

@media (max-width: 1440px) {
  .button {
    width: vw-1440(260);
    height: vw-1440(260);
    padding-left: vw-1440(60);

    gap: vw-1440(7);

    border: solid vw-1440(1) var(--text);
  }

  .button.centered span {
    margin-left: vw-1440(28);

    max-width: vw-1440(282);
  }

  .button.secondary {
    padding-left: vw-1440(48);

    padding-bottom: vw-1440(40);
  }

  .button span {
    max-width: vw-1440(133);

    margin-left: vw-1440(7);
  }
}

@media (max-width: 768px) {
  .button {
    width: 160px;
    height: 160px;
    padding-left: 24px;
    gap: 4px;
  }

  .button span {
    margin-left: 8px;
    max-width: 104px;
  }

  .button.secondary {
    padding-left: 24px;
    justify-content: center;
    padding-bottom: 0;
  }

  .button.centered {
    align-items: center;
    padding-left: 0;
  }

  .button.centered span {
    position: absolute;
    left: 50%;
    margin-left: 0;
    margin-top: 25px;
    top: 50%;
    transform: translate(-18px, 0%);
    max-width: 177px;
  }
}
