@import "../../../assets/sass/_functions.scss";

.wrapper {
  max-width: vw-1920(1630);
  margin: 0 auto;
  margin-top: vw-1920(143);
  margin-bottom: vw-1920(160);
}

.title {
  color: var(--bg);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  width: fit-content;
}

.text {
  color: var(--bg);
  max-width: vw-1920(940);
}

.container {
  margin-top: vw-1920(72);

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: vw-1920(26);
}

.item {
  overflow: hidden;
  height: vw-1920(300);
  position: relative;
  text-decoration: none;
  padding: vw-1920(32);
  display: flex;
  flex-direction: column;
  gap: vw-1920(20);
  justify-content: flex-end;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.bg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 11, 11, 0.6);
}

.bg img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.name {
  color: var(--text);
  position: relative;
  z-index: 2;
}

.more {
  position: relative;
  z-index: 2;
}

.item .more {
  color: var(--beige);
}

@media (max-width: 1440px) {
  .wrapper {
    max-width: vw-1440(1200);
    margin: 0 auto;
    margin-top: vw-1440(115);
  }

  .text {
    color: var(--bg);
    max-width: vw-1440(792);
  }

  .container {
    margin-top: vw-1440(64);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: vw-1440(24);
  }

  .item {
    overflow: hidden;
    height: vw-1440(300);
    position: relative;
    text-decoration: none;
    padding: vw-1440(32);
    display: flex;
    flex-direction: column;
    gap: vw-1440(20);
    justify-content: flex-end;
  }
}
@media (max-width: 768px) {
  .wrapper {
    max-width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 87px;
  }

  .head {
    flex-direction: column;
    gap: 0;
    width: 100%;
    align-items: flex-start;
  }

  .text {
    color: var(--bg);
    max-width: 100%;
  }

  .container {
    margin-top: 48px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .item {
    overflow: hidden;
    height: 300px;
    position: relative;
    text-decoration: none;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-end;
  }
}
