.container {
  position: relative;
  display: block;
  height: 97px;
  width: 100%;

  padding: 15px 16px;
  border: 1px solid var(--gray-1);
  border-radius: 6px;
  background: var(--bg);
}

.container:has(.field:disabled) {
  border-color: var(--gray-1);
  background: var(--gray-3);
}

.container:has(.field.error) {
  border-color: var(--red);
}

.container:has(.field:focus) {
  border-color: var(--red);
}

.field {
  width: 100%;
  height: 100%;
  color: var(--text);
  border: none;
  outline: none;
  resize: none;
}

.field::placeholder {
  color: rgba(16, 16, 16, 0.5);
}

.field:disabled::placeholder {
  color: rgba(16, 16, 16, 0.3);
}

.field.error {
  color: var(--red);
}

.field.error::placeholder {
  color: var(--red);
}

.message {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  color: var(--red);
}
