@import "../../../assets/sass/_functions.scss";

.wrapper {
  max-width: vw-1920(1630);
  margin: 0 auto;
  margin-top: vw-1920(143);
}

.title {
  color: var(--bg);
}

@media (max-width: 1440px) {
  .wrapper {
    max-width: vw-1440(1200);
    margin: 0 auto;
    margin-top: vw-1920(115);
  }
}
@media (max-width: 768px) {
  .wrapper {
    max-width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 87px;
  }
}
