@import "../../../assets/sass/_functions.scss";

.button {
  width: fit-content;
  padding: vw-1920(36) vw-1920(23);
  background: var(--green-1);
  color: var(--text);
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: vw-1920(320);
}

.button:hover {
  background: var(--green-2);
}

.button:active {
  box-shadow: -2px 2px 0 0 rgba(251, 247, 244, 0.5);
  background: var(--green-2);
}

.button:disabled {
  cursor: default;
  background: var(--grey);
  pointer-events: none;
  color: rgba(251, 247, 244, 0.5);
}

@media (max-width: 1440px) {
  .button {
    min-width: vw-1440(275);
    padding: vw-1440(28) vw-1440(24);
  }
}

@media (max-width: 768px) {
  .button {
    padding: 28px 24px;
    min-width: 275px;
  }
}
