@import "../../../../assets/sass/_functions.scss";

.wrapper {
  max-width: vw-1920(1630);
  margin: 0 auto;
  padding-top: vw-1920(143);
  padding-bottom: vw-1920(64);
  position: relative;
  z-index: 2;
}

.head {
  position: relative;
  overflow: hidden;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.bg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(11, 11, 11, 0.6);
}

.bg img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.title {
  color: var(--text);
}

.container {
  max-width: vw-1920(1630);
  margin: 0 auto;
  display: flex;
  gap: vw-1920(72);
  margin-top: vw-1920(90);
  position: relative;
}

.content {
  flex: 1 1 auto;
  color: var(--bg);

  p {
    margin-bottom: vw-1920(12);
  }
}

.content h4 {
  margin-top: vw-1920(32);
  margin-bottom: vw-1920(20);
}

.imageBlock {
  display: flex;
  align-items: center;
  gap: vw-1920(26);
  width: 100%;
  margin-top: vw-1920(32);
  margin-bottom: vw-1920(32);
}

.imageBlock img {
  flex: 1;
  object-fit: cover;
  height: vw-1920(320);
  width: 0;
}

.quote {
  padding: vw-1920(36);
  background: var(--dark-grey);
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: vw-1920(24);
  margin-top: vw-1920(32);
}

.step {
  display: flex;
  gap: vw-1920(26);
  align-items: center;

  &.left {
    flex-direction: row-reverse;
  }
}

.step:nth-child(2n) {
  flex-direction: row-reverse;
}

.step.last {
  flex-direction: column;
  gap: vw-1920(36);
}

.step > img {
  width: vw-1920(572);
  flex: 0 0 vw-1920(572);
  object-fit: cover;
  height: vw-1920(469);
}

.step .singleImage {
  flex: 1 1 auto;
  width: 0;
}

.step .text {
  h4 {
    font-family: var(--font-family);
    margin-top: vw-1920(0);
    font-weight: 400;
    font-size: vw-1920(26);
    line-height: 140%;
    text-transform: uppercase;
    color: var(--bg);

    @media (max-width: 1440px) {
      margin-top: vw-1920(0);
      font-size: vw-1440(26);
    }

    @media (max-width: 768px) {
      margin-top: vw-1920(0);
      font-size: 18px;
    }
  }

  p {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: vw-1920(20);
    line-height: 130%;
    color: var(--bg);

    @media (max-width: 1440px) {
      font-size: vw-1440(20);
    }

    @media (max-width: 768px) {
      font-size: 17px;
    }
  }
}

@media (max-width: 1440px) {
  .wrapper {
    max-width: vw-1440(1200);
    margin: 0 auto;
    padding-top: vw-1440(115);
    padding-bottom: vw-1440(48);
  }

  .container {
    max-width: vw-1440(1200);
    margin: 0 auto;
    display: flex;
    gap: vw-1440(36);
    margin-top: vw-1440(48);
  }

  .content {
    max-width: vw-1440(776);

    p {
      margin-bottom: vw-1440(12);
    }
  }

  .content h4 {
    margin-top: vw-1440(32);
    margin-bottom: vw-1440(20);
  }

  .imageBlock {
    display: flex;
    align-items: center;
    gap: vw-1440(26);
    width: 100%;
    margin-top: vw-1440(32);
    margin-bottom: vw-1440(32);
  }

  .imageBlock img {
    flex: 1;
    display: flex;
    object-fit: cover;
    height: vw-1440(320);
  }

  .quote {
    margin-top: vw-1440(32);
    padding: vw-1920(36);
    background: var(--dark-grey);
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: vw-1440(24);
  }

  .step {
    gap: vw-1440(36);
  }

  .step > img {
    width: vw-1440(375);
    flex: 0 0 vw-1440(375);
    height: vw-1440(320);
  }
}

@media (max-width: 768px) {
  .head {
    width: 100%;
  }

  .title {
    font-weight: 400;
    font-size: 32px;
  }

  .wrapper {
    padding-top: 87px;
    padding-bottom: 12px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
  }

  .content {
    max-width: 100%;

    p {
      margin-bottom: 12px;
    }
  }

  .content h4 {
    margin-top: 24px;
    margin-bottom: 20px;
  }

  .imageBlock {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .imageBlock img {
    flex: 1;
    display: flex;
    object-fit: cover;
    height: 220px;
  }

  .quote {
    margin-top: 24px;
    padding: 24px;
    background: var(--dark-grey);
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .container {
    margin-top: 36px;
    flex-direction: column-reverse;
    gap: 72px;
  }

  .step {
    flex-direction: column !important;
    gap: 24px;
  }

  .step > img {
    width: 100%;
    flex: initial;
    height: 200px;
  }
  .step .singleImage {
    flex: 1 1 auto;
    width: 100%;
  }
}
