@import "../../assets/sass/_functions.scss";

.container {
  position: relative;
  margin-top: vw-1920(160);
}

.wrapper {
  max-width: vw-1920(1630);
  margin: 0 auto;
  position: relative;
}

.header {
  margin-bottom: vw-1920(25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 20%;
  left: 0;
}
.caption {
  max-width: vw-1920(780);
  color: var(--brown);
}

.title {
  margin-top: vw-1920(32);
  color: var(--bg);
}

.content {
  display: flex;
  position: relative;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.right {
  flex: 1;
  margin-top: vw-1920(70);
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: vw-1920(70);
  gap: vw-1920(48);
}

.content::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: var(--bg);
  opacity: 0.2;
  transform: translateX(-50%);
}

.item {
  width: 100%;
  transition: all 0.4s ease;
  opacity: 0.5;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  padding-left: vw-1920(64);
}

.year {
  color: var(--bg);
  margin-bottom: vw-1920(12);
  transition: all 0.4s ease;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--bg);
  transition: all 0.4s ease;
  position: relative;
  left: vw-1920(-2);
}

.circle {
  background-color: var(--bg);
  position: absolute;
  width: vw-1920(10);
  height: vw-1920(10);
  border-radius: 50%;
  right: vw-1920(-2);
  top: 50%;
  transform: translate(vw-1920(5), -50%);
  transition: all 0.4s ease;

  z-index: 2;
}

.circle::after {
  content: "";
  background-color: var(--bg);
  opacity: 0.3;
  position: absolute;
  width: vw-1920(20);
  height: vw-1920(20);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transition: all 0.4s ease;
  transform: translate(-50%, -50%);
}

.text {
  color: var(--text);
  max-width: vw-1920(467);
  transition: all 0.4s ease;
  padding: vw-1920(52) vw-1920(36);
  background: var(--dark-grey);
  height: 100%;
  flex: 1 1 auto;
}

.right .circle {
  left: vw-1920(-2);
  transform: translate(vw-1920(-5), -50%);
  right: initial;
}
.thumb {
  position: sticky;
  width: vw-1920(4);
  height: vw-1920(214);
  background-color: var(--bg);
  border-radius: 4px;
  left: 50%;
  top: 30%;

  transform: translateX(-50%);
}

.active.item {
  opacity: 1;
  transform: translateY(0);
}

.text,
.item img {
  position: relative;
  transform: translateY(vw-1920(100));
  opacity: 0;
  transition: all 0.4s ease;
}

.active .text,
.active.item img {
  color: var(--beige);
  position: relative;
  transform: translateY(0);
  opacity: 1;
}

.active .circle {
  background-color: var(--beige);
  opacity: 1;
}

.active .circle::after {
  background-color: var(--beige);
  opacity: 0;
  animation: pulse 4s linear 0.5s infinite;
  z-index: 3;
}

.item img {
  flex: 0 0 vw-1920(369);
  width: vw-1920(369);
  height: vw-1920(212);
}

@keyframes pulse {
  0% {
    width: vw-1920(9);
    height: vw-1920(9);
    opacity: 0.4;
  }

  50% {
    opacity: 0.4;
    width: vw-1920(20);
    height: vw-1920(20);
  }

  100% {
    opacity: 0.4;
    width: vw-1920(9);
    height: vw-1920(9);
  }
}

.mobile {
  display: none;
}

@media (max-width: 1440px) {
  .container {
    margin-top: vw-1440(160);
  }

  .container.noHeader {
    margin-top: vw-1440(41);
  }

  .wrapper {
    max-width: vw-1440(1200);
  }

  .header {
    margin-bottom: vw-1440(48);
  }

  .caption {
    max-width: vw-1440(780);
  }

  .title {
    margin-top: vw-1440(32);
  }

  .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
  }

  .item {
    padding-left: vw-1440(52);
  }

  .text,
  .item img {
    position: relative;
    transform: translateY(vw-1440(100));
    opacity: 0;
    transition: all 0.4s ease;
  }

  .right {
    flex: 1;
    margin-top: vw-1440(70);
    display: flex;
    flex-direction: column;
    position: relative;
    left: vw-1440(-2);
    margin-bottom: vw-1440(70);
    gap: vw-1440(48);
  }

  .content::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 0;
    height: 100%;
    width: vw-1440(4);
    background-color: var(--bg);
    opacity: 0.2;
    transform: translateX(-50%);
  }

  .circle {
    background-color: var(--bg);
    position: absolute;
    width: vw-1440(16);
    height: vw-1440(16);
    border-radius: 50%;
    right: vw-1440(-2);
    top: 50%;
    transform: translate(vw-1440(8), -50%);
    transition: all 0.4s ease;

    z-index: 2;
  }

  .circle::after {
    content: "";
    background-color: var(--bg);
    opacity: 0.3;
    position: absolute;
    width: vw-1440(32);
    height: vw-1440(32);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transition: all 0.4s ease;
    transform: translate(-50%, -50%);
  }

  .text {
    color: var(--text);
    transition: all 0.4s ease;
    padding-left: vw-1440(52);
  }

  .right .circle {
    left: max(-5px / 1440px * 100vw, -5px);
    transform: translate(max(-3px / 1440px * 100vw, -3px), -50%);
    right: initial;
  }

  .thumb {
    position: sticky;
    width: vw-1440(4);
    height: vw-1440(214);
    background-color: var(--bg);
    border-radius: 4px;
    left: 50%;
    top: 20%;

    transform: translateX(-50%);
  }

  .active.item {
    opacity: 1;
  }

  .active .circle {
    background-color: var(--beige);
    opacity: 1;
  }

  .active .circle::after {
    background-color: var(--beige);
    opacity: 0;
    animation: pulse 4s linear 0.5s infinite;
    z-index: 3;
  }

  .text {
    padding: vw-1440(34) vw-1440(30);
    display: flex;
    align-items: center;
  }

  .item img {
    height: vw-1440(212);
    width: vw-1440(240);
    flex: 0 0 vw-1440(240);
  }

  @keyframes pulse {
    0% {
      width: vw-1440(12);
      height: vw-1440(12);
      opacity: 0.4;
    }

    50% {
      opacity: 0.4;
      width: vw-1440(36);
      height: vw-1440(36);
    }

    100% {
      opacity: 0.4;
      width: vw-1440(12);
      height: vw-1440(12);
    }
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 72px;
    width: 100%;
  }

  .container.noHeader {
    margin-top: 32px;
  }

  .wrapper {
    width: calc(100% - 40px);
    max-width: 100%;
  }

  .header {
    flex-direction: column;
    margin-bottom: 24px;
    align-items: flex-start;
    position: static;
  }

  .caption {
    max-width: initial;
  }

  .title {
    margin-top: 16px;
  }

  .container,
  .wrapper,
  .content {
    overflow: visible !important;
  }

  .content {
    position: relative;
  }

  .left {
    display: flex;
    flex-direction: column;
    flex: 0;
    position: relative;
    width: 0;
    height: 0;
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    left: -2px;
    gap: 48px;
    margin-top: 2px;
    margin-bottom: 12px;
    margin-left: 12px;
  }

  .content::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: var(--bg);
    opacity: 0.2;
    transform: translateX(-50%);
  }

  .circle {
    background-color: var(--bg);
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    right: -1px;
    top: 50%;
    transform: translate(3px, -50%);
    transition: all 0.4s ease;

    z-index: 2;
  }

  .circle::after {
    content: "";
    background-color: var(--bg);
    opacity: 0.3;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transition: all 0.4s ease;
    transform: translate(-50%, -50%);
  }

  .text {
    color: var(--text);
    max-width: initial;
    transition: all 0.4s ease;
    flex: 1 1 auto;
    padding: 22px 20px;
    word-break: break-all;
  }

  .item {
    padding-left: 24px;
  }

  .item img {
    width: 120px;
    min-height: 120px;
    height: 100%;
    flex: 0 0 120px;
    object-fit: cover;
  }

  .right .year {
    text-align: right;
  }

  .right .line {
    left: 1px;
  }

  .right .circle {
    left: -1px;
    transform: translate(-3px, -50%);
    right: initial;
  }

  .right .info {
    margin-left: 12px;
    margin-right: 0;
  }

  .thumb {
    flex: 0 0 2px;
    position: sticky;
    width: 2px;
    height: 100px;
    background-color: var(--bg);
    border-radius: 2px;
    left: 31px;
    top: 200px;
    transform: none;
  }

  .active.item {
    opacity: 1;
  }

  .active .year {
    color: var(--beige);
  }

  .active .circle {
    background-color: var(--beige);
    opacity: 1;
    width: 12px;
    transform: translate(5px, -50%);

    height: 12px;
  }

  .right .active .circle {
    transform: translate(-5px, -50%);
  }

  .active .circle::after {
    background-color: var(--beige);
    opacity: 0;
    animation: pulse 4s linear 0.5s infinite;
    z-index: 3;
  }

  @keyframes pulse {
    0% {
      width: 11px;
      height: 11px;
      opacity: 0.4;
    }

    50% {
      opacity: 0.4;
      width: 24px;
      height: 24px;
    }

    100% {
      opacity: 0.4;
      width: 11px;
      height: 11px;
    }
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}
