.wrapper {
  max-width: 1630px;
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;

  width: 100%;
  border-bottom: 1px solid var(--bg);
  padding: 20px 24px;
  background: transparent;
}

.container:has(.field:focus) {
  border-color: var(--bg);
}

.field {
  flex: 1 1 auto;
  color: var(--bg);
  border: none;
  outline: none;
  background: transparent;
}

.field::placeholder {
  color: var(--grey);
}

.search {
  color: var(--bg);
  width: 86px;
  height: 86px;
}

.container:has(.field:disabled) {
  opacity: 0.3;
}

.field:disabled::placeholder {
  color: var(--grey);
}

.field:focus {
  color: var(--bg);
}

.field:focus::placeholder {
  color: var(--bg);
}

.error {
  color: var(--red);
}

.error .field,
.error .field::placeholder,
.error .search {
  color: var(--red);
}

.error .container {
  border-color: var(--red);
}

.message {
  position: absolute;
  top: calc(100% + 21px);
  left: 0;
  text-transform: none;
  color: var(--red);
}

.bg {
  position: absolute;
  bottom: -9px;

  left: 0;
  transform: translateY(100%);
  width: 100%;
  z-index: -1;
  pointer-events: none;
}

.bg:has(.resWrapper.active) {
  opacity: 1;
  z-index: 50;
  pointer-events: all;
}

.resWrapper {
  position: relative;
  width: 100%;
  max-height: 333px;
  box-shadow:
    1px 2px 5px 0 rgba(180, 46, 47, 0.1),
    4px 8px 9px 0 rgba(180, 46, 47, 0.09),
    8px 18px 12px 0 rgba(180, 46, 47, 0.05),
    15px 32px 14px 0 rgba(180, 46, 47, 0.01),
    23px 50px 16px 0 rgba(180, 46, 47, 0);
  background: var(--bg);
  border: 1px solid var(--red);
  border-radius: 6px;
  padding: 0;

  z-index: -1;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.resWrapper.active {
  opacity: 1;
  z-index: 50;
  pointer-events: all;
}

.results {
  max-height: 285px;

  padding: 24px 16px;
  overflow-y: scroll;
}

.results::-webkit-scrollbar {
  width: 19px;
}

.results::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--gray-2);
}

.results::-webkit-scrollbar-thumb {
  border-radius: 5px;

  background: rgba(16, 16, 16, 0.4);
  background-clip: content-box;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  gap: 12px;
  align-items: center;
  text-decoration: none;
}

.item .image {
  border-radius: 6px;
  padding: 8px;
  width: 106px;
  height: 90px;
  border-radius: 2px;
  background: var(--gray-3);
  flex: 0 0 106px;
}

.caption {
  flex: 1 1 auto;
}

.category .caption {
}

.title {
  color: var(--text);
  margin-bottom: 6px;
}

.text {
  color: var(--text);
  opacity: 0.5;
}

.controls {
  flex: 0 0 98px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  color: var(--text);
}

.discount {
  margin-top: 2px;
  text-decoration: line-through;
  text-align: center;
  color: var(--text);
  opacity: 0.3;
}

.buy {
  margin-top: 8px;
  padding: 10px 22px;
}

@media (max-width: 768px) {
  .wrapper.mobile {
    display: none;
  }

  .container {
    max-width: 768px;
    width: 100%;
    padding: 12px 16px;
  }

  .container.active {
    opacity: 1;
    z-index: 50;
  }

  .field {
    font-size: 18px;
  }

  .search {
    width: 32px;
    height: 32px;
  }
}
