@import "../../assets/sass/_functions.scss";

.container {
  margin-top: vw-1920(20);

  display: flex;
  gap: vw-1920(12);
  align-items: center;
  flex-wrap: wrap;
  color: var(--grey);
}

.container > div {
  display: flex;
  gap: vw-1920(12);
  align-items: center;
  width: fit-content;
}

.link {
  text-decoration: none;
  color: var(--bg);
}

.isWhite .link {
  color: var(--text);
}

a.link {
  color: var(--grey);
}

a.link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.icon {
  width: vw-1920(6);
  height: vw-1920(6);
}

@media (max-width: 1440px) {
  .container {
    margin-top: vw-1440(32);
    gap: vw-1440(12);
  }

  .container > div {
    gap: vw-1440(12);
  }

  .icon {
    width: vw-1440(6);
    height: vw-1440(6);
  }
}

@media (max-width: 768px) {
  .container {
    margin-bottom: 24px;
    margin-top: 8px;
    justify-content: flex-start;
    gap: 12px;
  }

  .link {
    font-size: 13px;
    text-align: center;
  }

  .container > div {
    gap: 12px;
  }

  .icon {
    width: 6px;
    height: 6px;
  }
}
