@import "../../../assets/sass/_functions.scss";

.button {
  width: vw-1920(47);
  height: vw-1920(47);

  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  border: solid vw-1920(1) var(--text);
  color: var(--text);
}

.container:hover .button {
  background: rgba(251, 247, 244, 0.1);
}

.container:active .button {
  background: var(--text);
  color: var(--green-1);
}

.button:disabled {
  cursor: default;
  pointer-events: none;
  color: var(--grey);
  border-color: var(--grey);
}

.container {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--text);
  cursor: pointer;
}

@media (max-width: 1440px) {
  .button {
    width: vw-1440(47);
    height: vw-1440(47);

    border: solid vw-1440(1) var(--text);
  }
}

@media (max-width: 768px) {
  .button {
    width: 47px;
    height: 47px;

    border: solid 1px var(--text);
  }
}
