@import "../../assets/sass/_functions.scss";

.header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 101;
  height: vw-1920(95);
  background-color: transparent;
  transition: all 0.4s ease;
}

.wrapper {
  width: calc((100% - vw-1920(1630)) / 2 + vw-1920(1630));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.fixed {
  position: fixed;
  background-color: var(--text);
}

.controls {
  display: flex;
  align-items: center;
  gap: vw-1920(36);
}

.link {
  display: flex;
  align-items: center;
  gap: vw-1920(4);
  color: var(--text);
  text-decoration: none;
  mix-blend-mode: difference;
}

.header .dark {
  color: var(--bg);
  mix-blend-mode: initial;
}

.header .dark {
  color: var(--bg);
}

.header .dark svg {
  color: var(--bg);
}

.header .dark div {
  border-color: var(--bg);
}

.link:hover {
  text-decoration: underline;
}

.phone {
  width: vw-1920(24);
  height: vw-1920(24);
}

.header .mobile {
  display: none;
}

.mobile.controls {
  display: none;
}

.search.dark {
  border-color: var(--bg);
}

.fixed .menu > div {
  border-color: var(--bg);
  color: var(--bg);
}

@media (max-width: 1440px) {
  .header {
    height: vw-1440(80);
  }

  .wrapper {
    width: calc((100% - vw-1440(1200)) / 2 + vw-1440(1200));
  }

  .controls {
    gap: vw-1440(32);
  }

  .phone {
    width: vw-1440(24);
    height: vw-1440(24);
  }
}

@media (max-width: 768px) {
  .header {
    position: absolute;
    padding: 16px 20px;
    height: auto;
    width: 100%;
  }

  .header.fixed {
    position: fixed;
    background-color: var(--text);
  }

  .wrapper {
    width: 100%;
    justify-content: flex-end;
  }

  .header.opened,
  .header.dark {
    mix-blend-mode: initial;
  }

  .header .mobile {
    display: flex;
  }

  .mobile.controls {
    display: flex;
  }

  .controls {
    display: none;
    gap: 9px;
  }

  .link {
    border-radius: 50%;
    border: 1px solid var(--text);
    color: var(--text);
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: initial;
  }

  .fixed .link,
  .opened .link {
    border: 1px solid var(--bg);
    color: var(--bg);
  }

  .link svg {
    color: var(--text);
  }

  .fixed .link svg,
  .opened .link svg {
    color: var(--bg);
  }

  .link span {
    display: none;
  }

  .phone {
    width: 24px;
    color: var(--text);
    border-color: var(--text);
    height: 24px;
  }

  .fixed .phone,
  .opened .phone {
    color: var(--bg);
    border-color: var(--bg);
  }

  .phone {
    border-color: var(--text);
  }

  .fixed .phone,
  .opened .phone {
    border-color: var(--bg);
  }

  .header .search {
    border-color: var(--text);
    color: var(--text);
  }

  .header.fixed .search,
  .header.opened .search {
    border-color: var(--bg);
    color: var(--bg);
  }

  .wrapper .menu > div {
    border-color: var(--text);
    color: var(--text);
  }

  .fixed .wrapper .menu > div,
  .opened .wrapper .menu > div {
    border-color: var(--bg);
    color: var(--bg);
  }

  .header .logo {
    color: var(--text);
  }

  .fixed .logo,
  .opened .logo {
    color: var(--bg);
  }
}
