@import "../../../assets/sass/_functions.scss";

.button {
  width: vw-1920(36);
  height: vw-1920(36);

  cursor: pointer;
  border: vw-1920(1) solid rgba(251, 247, 244, 0.5);
  outline: none;
  transition: all 0.3s ease;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(251, 247, 244, 0.1);
  outline: none;

  color: var(--text);
}

.button:hover {
  background: rgba(200, 152, 106, 0.1);
  color: var(--beige);
}

.button:active {
  background: var(--beige);
  border-color: var(--beige);
  color: var(--text);
}

.button:disabled {
  cursor: default;
  pointer-events: none;
  color: var(--grey);
}

.button.disabled {
  cursor: default;
  pointer-events: none;
  color: var(--grey);
}

@media (max-width: 1440px) {
  .button {
    width: vw-1440(36);
    height: vw-1440(36);
    border-width: vw-1440(1);
  }
}

@media (max-width: 768px) {
  .button {
    width: 36px;
    height: 36px;
    border-width: 1px;
  }
}
